<%- model_class = Track.new.class -%>
<div class="page-header">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_route_track_path(@route),
            :class => 'btn btn-primary pull-right' %>
  <h2><% if !@route.nil? %><img src="http://www.mta.info/siteimages/subwaybullets/36px/<%= @route.name %>.png" alt="<%= @route.name %>" /> <%= @route.direction %> Bound <% end %><%=t '.title', :default => model_class.model_name.human.pluralize %> / <%= link_to "Stations", route_stations_path(@route) %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:lesser_platform_id) %></th>
      <th><%= model_class.human_attribute_name(:greater_platform_id) %></th>
      <th><%= model_class.human_attribute_name(:route_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= link_to track.id, route_track_path(@route, track) %></td>
        <td><%= track.duration %></td>
        <td><%= track.lesser_platform_id %></td>
        <td><%= track.greater_platform_id %></td>
        <td><%= track.route_id %></td>
        <td><%=l track.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_route_track_path(@route, track), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      route_track_path(@route, track),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_route_track_path(@route),
            :class => 'btn btn-primary' %>
