<%- model_class = @platform.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:station_id) %>:</strong></dt>
  <dd><%= @platform.station_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:northeast_track_id) %>:</strong></dt>
  <dd><%= @platform.northeast_track ? @platform.northeast_track.direction : "" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:southwest_track_id) %>:</strong></dt>
  <dd><%= @platform.southwest_track ? @platform.southwest_track.direction : "" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:heading) %>:</strong></dt>
  <dd><%= @platform.heading %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              station_platforms_path(@station), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_station_platform_path(@platform), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              station_platform_path(@platform),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
